{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block content %}

    <h2> Количество статей:</h2>
   <h3>{{ posts|length }}</h3>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Название статьи</td>
               <td>Дата публикации</td>
               <td>Описание</td>
           </tr>

           {% for posts in posts %}
           <tr>
               <td>{{ posts.title|censor }}</td>
               <td>{{ posts.post_time|date:'d M Y' }}</td>
               <td>{{ posts.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}